@charset "UTF-8";

/* Import css */

@import url(/css/main.css);

/* Import Font */
/* font Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global */
* {
    padding: 0;
    margin: 0;

}

:root {

    --texttitulo: black;
    --text:rgb(171, 171, 171);
    --background: #EEEEEE;
    ---border: rgba(255, 255, 255, 0.30);

    --list: #F7F7F7;
    --botao: #4183D9;
    --fundobotao: #B3DAF2;
    --lixeira: #F25E5E;
    --fundolixeira: #F2C9C9;


    --fontnoto: "Noto Sans", sans-serif;
    --fontopen: "Open Sans", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    /* background-image: url(/img/blue-flower.jpg);
    background-repeat: no-repeat;
    background-size: cover; */

}