/* APP */

div#app {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
   
    /* background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 0px 0px 20px 20px; */
}


div#app>h1 {
    color: var(--texttitulo);
    text-align: center;
    font-family: var(--fontnoto);
    font-weight: bolder;
    font-size: 2.5em;
    padding-top: 50px;

}

/* Input e  button */

div#add {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    background-color: transparent;
    margin: auto;
    padding: 30px 0px;


}


#inputtask {
    width: 300px;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid rgba(181, 181, 181, 0.493);
    padding: 8px;


}

::placeholder {
    font-size: 1.1em;
    color: var(--text);

}

#buttoncriar {
    font-size: 0.9em;
    color: white;
    background-color: var(--botao);
    border-radius: 15px;
    width: 65px;
    border: none;
    padding: 8px;


}

#buttoncriar:hover {
    cursor: pointer;
}


/* Status */

div#task {
    margin: auto;



}

div#status {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    
    margin: auto;
    padding: 0px 7px 0px 5px;

}

p#atividades {

    color: var(--botao);
    font-family: var(--fontnoto);
    font-weight: bold;
    font-size: 0.8em;


}

#n_atividades {

    color: var(--text);
    font-family: var(--fontnoto);
    font-weight: bold;
    font-size: 0.8em;
}


/* task list */

ul {

    margin: auto;
    padding-bottom: 10px;


}

ul>li {
    font-family: var(--fontopen);
    font-size: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--list);
    list-style: none;
    width: 500px;
    margin: 10px 0px 10px 0px;
    padding: 6px;
    border: 1px solid rgba(122, 122, 122, 0.641);
    border-radius: 10px;
    



}

svg {

    margin-right: 10px;
    

}

svg#checks {

    background-color: var(--fundobotao);
    color: var(--botao);
    padding: 4px;
    border-radius: 5px;
}

svg#lix {
    background-color: var(--fundolixeira);
    color: var(--lixeira);
    padding: 4px;
    border-radius: 5px;
}